<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid" style="max-width:1000px;margin:0 auto;padding:0 16px;">
	  <div class="row">
		<div class="col-sm-8">
			
			<p><b>Language and Data Intelligence Lab.</b> </p>
			<p>Main Hall 117, 107, Imun-ro, Dongdaemun-gu, Seoul, Republic of Korea</p>
			<p>Language and Data Intelligence Lab — All rights reserved.</p>
            
								
						
		</div>
				<!-- Funding section removed -->
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
